<section class="furniture">
  <div class="container">
    <header class="furniture__header">
      <h2>{{ title }}</h2>
    </header>

    <div class="furniture__list">


      {% for item in description %}
        <div class="furniture__item">
          <a href="https://atlaskursk.ru/img/{{ item.photo }}">
            <img src="https://atlaskursk.ru/img/s_{{ item.photo }}" alt="{{ item.name }} (от {{ item.price }})" />
            <div class="furniture__item-title">
              {{ item.name }}
            </div>
          </a>
        </div>
      {% endfor %}

    </div>

  </div>
</section>
